<!--답변 수정을 하기 위해서 만들었다. -->

<!--layout:decorate 속성은 템플릿의 레이아웃(부모 템플릿)으로 사용할 템플릿을 설정한다.-->
<!--이때 값으로 설정된 ~{layout}은 layout.html파일이 해당 된다-->

<html layout:decorate="~{layout}"></html> <!--layout.html의 속성을 기본으로 하겠다 -->

<div layout:fragment="content" class="container my3">

    <form th:object="${answerForm}"  method="post"> <!--ActionForm을 참고한다는 의미로 사용, answercontroller에서 answerForm으로 넘겨주었다.-->
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> <!-- action태그를 사용하지 않기 때문에 시용-->
        <div th:replace="form_errors :: formErrorsFragment"></div>
        <h5 class="my3 border-bottom pb-2 py-2">답변 수정</h5>

    <div class="my-3">
        <label for="content" class="form-label">내용</label>
        <textarea th:field="*{content}" type="email" class="form-control" rows=10 id="content" name="content" placeholder="수정할 답변을 작성해 주세요."></textarea>
    </div>

        <input type="submit" value="수정하기"  class="btn btn-warning my-2" >

    </form>
</div>













