<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"></script>


    <title></title>
</head>
<body>


<nav th:replace="navbar :: navbarFragment"></nav>


<!-- 기본 템플릿 안에 삽입될 내용 Start -->
<th:block layout:fragment="content"></th:block>
<!-- 기본 템플릿 안에 삽입될 내용 End -->


<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">

        <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">

            <a class="page-link" th:href="@{|?page=${paging.number-1}|}">이전</a>

        </li>

        <div th:each="page : ${#numbers.sequence(1, paging.totalPages-1)}">
            <li class="page-item" th:if="${page >= paging.number-3 and page <= paging.number+3}">
                <a class="page-link" th:href="@{|?page=${page-1}|}" th:text="${page}"></a></li>
        </div>

        <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">

            <a class="page-link" th:href="@{|?page=${paging.number+1}|}">다음</a>

        </li>
    </ul>
</nav>


</body>
</html>