

<html layout:decorate="~{layout}">


<div layout:fragment="content" class="contatiner my-3">

<table class="table">
    <thead class="table-dark">
        <tr> <th>번호</th> <th>제목</th> <th>작성일</th> </tr>
    </thead>
    <tbody>
        <tr th:each="question, loop : ${questions}">
            <td th:text="${loop.count}"></td>  <!--반복 횟수 -->

            <!--          <td>[[${question.subject}]]</td> <td>[[${question.createDate}]]</td> 아래외 같다 결과-->
            <td>
                <a th:href="@{|/question/detail/${question.id}|}"  th:text="${question.subject}"></a>
                <!--th:href의 타임리프를 사용하기 위해서 주소는 @{}안에 적어주어야 한다-->
                <!--문자열과 자바객체를 같이 사용하기 위해서는 ||안에다가 작성해 주어야 한다 -->
            </td>

            <td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></td>
<!--            #temporals.format(날짜객체, 날짜포맷)-->

        </tr>
    </tbody>
</table>

</div>

</html>