<html layout:decorate="~{layout}">


<div layout:fragment="content" class="contatiner my-3">

<h3 class="my-3 border bottom py-2">질문등록</h3>

    <!--th:object 오류 속성들이 어디에 포함되는 레이아웃인지 알려주어야 한다 -->
    <form  th:action="@{/question/create}" method="post" th:object="${questionForm}">
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
        </div>
        <div class="mb-3">
            <label for="subject" class="form-label">제목</label>
            <input type="text" class="form-control" id="subject" name="subject" placeholder="제목을 입력해 주세요." th:field="*{subject}">
        </div>

        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea th:field="*{content}" type="content" class="form-control" id="content" name="content" placeholder="내용을 입력해 주세요." rows="10"></textarea>
        </div>

        <input type="submit" value="저장하기" class="btn btn-primary">
    </form>







</div>
</html>